{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    {{ block.super }} 
    <link rel="stylesheet" href="{% static 'block/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.2/main.min.css">
{% endblock %}

{% block title %}
    Calendar
{% endblock %}

{% block content %}
    
    {% include 'includes/sidebar.html' %}
<style>
    .calendar-container {
        padding-top: 20px;
        width: 1000px; /* istediğiniz genişlik */
        height: auto; /* istediğiniz yükseklik */
        margin: 0 auto; /* sayfa genişliği içinde ortalamak için */
        text-align: left; /* içerikleri yatay olarak solda hizala */
        margin-left: 400px; /* soldan 100 piksel boşluk */
    }
    
    #calendar {
        width: 100%; /* konteynerin tamamını kaplaması için */
        height: 100%; /* konteynerin tamamını kaplaması için */
    }
    /* Modal stilleri */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

</style>
<div class="calendar-container" style="justify-content:right">

    <td>{{ closest_event.name }}</td>
    <td>{{ closest_event.date }}</td>     

    <div id="calendar"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.2/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: JSON.parse('{{ events|escapejs }}')  // JSON verisini takvime ekle
        });
        calendar.render();
    });
</script>

{% endblock %}
