{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    {{ block.super }} 
    <link rel="stylesheet" href="{% static 'block/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.2/main.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .undo-button {
            margin-right: 5px;
        }
    </style>
{% endblock  %}

{% block title %}
    Deleted Items
{% endblock %}

{% block content %}
<div class="row">


    <div class="col-2">
        {% include 'includes/sidebar.html' %}
    </div>

    <div class="col-10">
    <div class="container text-center">
        <h1 class="mt-3">Deleted Birthdays</h1>
        
        <div class="card mt-3">
            <ul class="list-group list-group-flush">
                <!-- Silinen öğelerin listesi -->
                {% for item in deleted_birthdays %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span>{{ item.person_name }}</span>
                            <span class="ms-4"> - </span>
                            <span>{{ item.birth_date }}</span>
                        </div>
                        
                        <form method="post" action="{% url 'undo_delete_birthdays' item.id %}">
                            {% csrf_token %}
                        <button class="btn btn-success"><i class="fas fa-undo"></i> </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}
