{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css_files %}
    {{ block.super }} 
    <link rel="stylesheet" href="{% static 'block/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_page.css' %}">
    <!-- CKEditor CSS -->
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.css">
   
{% endblock  %}

{% block title %}
    Not ekle
{% endblock %}

{% block content %}
    
    {% include 'includes/sidebar.html' %}

    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <form id="noteForm" method="POST" >
                    {% csrf_token %}
                    <div class="mt-5 mb-5 ">
                        {{ form.title }}  
                    </div>
                    
                    <div class="mt-5 mb-5">
                        {{ form.body}}  
                        {{ form.media }}  
                    </div>
                    <div class="text-center ">
                        <button type="submit"  class="btn btn-sm btn-secondary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        {% comment %} <!-- Gönderilen Notlar -->
        <div class="container mt-5 mr-4">
            <h2>Gönderilen Notlar</h2>
            <ul>
                {% for post in posts %}
                    <li>{{ post.title }} - {{ post.body|safe }}</li>
                {% endfor %}
            </ul>
        </div>
     {% endcomment %}
    

{% endblock %}
