{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    {{ block.super }} 
    <link rel="stylesheet" href="{% static 'block/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock  %}

{% block title %}
    Etkinlik Ekle
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-2">
        {% include 'includes/sidebar.html' %}
    </div>
    
<div class="col-10">
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow" style="background-color: #c3e6cb;"> <!-- Arka plan rengi değiştirildi -->
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Add Event</h2>
                        <form action="" method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Description :</label>
                                <input type="text" class="form-control" name="name" placeholder="Description"required>
                            </div>
                            <div class="form-group">
                                <label for="date">Date :</label>
                                <input type="date" class="form-control" name="date"required>
                            </div>
                            <div class="form-group">
                                <label for="time">Time :</label>
                                <input type="time" class="form-control" name="time" required>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <div class="container mt-5 ">
        <h2 class="text-center mb-4">Upcoming Events</h2>
        <div id="event-list" class="row justify-content-center">
            <!-- Event cards will be added here -->
            <div class="row">
                {% for event in upcoming_events %}
                <div class="col-md-4 mb-3">
                    <div class="card" style="background-color: #c3e6cb;">
                        <div class="card-body">
                            <h5 class="card-title">{{event.name}}</h5>
                            <hr style="height: 2px; background-color: #000;">
                            <p class="card-text">Date: {{event.date}}</p>
                            <p class="card-text">Time: {{event.time}}</p>
                            <form method="post"  action="{% url 'delete_event' event_id=event.id%}" >
                
                                {% csrf_token %}
                            <button class="btn btn-danger btn-sm delete-birthday" style="position: absolute; top: 2px; right: 2px;">  <i class="fas fa-trash-alt"></i></button>
                             </form>
                          
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
</div>
{% endblock %}
