


<!-- Ana HTML içeriği -->
{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'block/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/add_page.css' %}" />
  <!-- CKEditor CSS -->
  <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
{% endblock %}

{% block title %}
  Notes
{% endblock %}

{% block content %}
  {% include 'includes/sidebar.html' %}

  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8">
       
        <div class="col-md-8">
          <form id="myForm" action="{% url 'edit_post' post_id=post.id %}" method="post">
            {% csrf_token %}
            <button class="edit-post-btn lg" style="background-color: transparent; border: none; color: black; padding: 0; cursor: pointer;"><i class="fas fa-edit" style="font-size: 12px; margin: 0; color: #888;"></i></button>
          </form>       

        <form id="deleteForm" action="{% url 'delete_post' post_id=post.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="delete-post-btn lg" style="background-color: transparent; border: none; color: black; padding: 0; cursor: pointer;"><i class="fas fa-trash" style="font-size: 12px; margin: 0; color: #888;"></i></button>
        </form>

        <div class="card-body">
          <h2 class="card-title" style="color: black;">{{ post.title }}</h2>
          <p class="card-text">{{ post.body|safe }}</p>
        </div>
        <div class="">
          <small style="color: white;" class="text-muted">Created on {{ post.creation_date|date:'F d, Y' }} at {{ post.creation_date|time:'H:i' }}</small>
        </div>
      </div>
    </div>
  </div>

  
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header " style="background-color: lightgreen; "> 
        <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
    </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'edit_post' post_id=post.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_title"  style="margin-right: 10px;">Title:</label>
            <input type="text" name="title" required >
          </div>
      
        <div class="form-group">
          <label for="id_body" style="margin-right: 10px;">Content</label>
          <textarea style="background-color: #fff" name="body"></textarea>

          
          {{ form.media }}
        </div>
          <div class="text-center" style="margin-right: 100px">
            <button type="submit" class="btn btn-sm btn-secondary">Save</button>
          </div>
        </form>
        
      </div>
   
    </div>
  </div>
</div>

  <script>
    // Form gönderildiğinde modalı aç
    document.getElementById("myForm").addEventListener("submit", function(event) {
      event.preventDefault(); // Formun normal gönderimini engelle
      $('#myModal').modal('show'); // Modalı aç
    });
  </script>
{% endblock %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Düzenleme butonuna tıklandığında formu modal içerisine yerleştir
    var editBtn = document.querySelector('.edit-post-btn');
    editBtn.addEventListener('click', function() {
      var editModal = document.querySelector('#editModal');
      var editForm = document.querySelector('#editForm');

      // Form içeriğini modal içine yerleştir
      editModal.querySelector('.modal-body').innerHTML = editForm.outerHTML;
    });
  });
</script>
