{% extends 'base.html' %}
{% block content %}
  <div class="container" style="padding: 20px; max-width: 800px; margin: 0 auto;">
    <h2>{{ note.title }}</h2>
    <div class="note-detail" style="margin-top: 20px;">
      <div class="note-content" style="padding: 10px;">{{ note.content|safe }}</div>
      <div class="note-date ms-auto" style="font-size: 0.8em; color: #666; padding-left:500px">Updated on: {{ note.updated_at|date:"F j, Y, g:i a" }}</div>
      <div class="note-date ms-auto" style="font-size: 0.8em; color: #666; padding-left:500px">Created on: {{ note.created_at|date:"F j, Y, g:i a" }}</div>
      <div class="note-user ms-auto" style="font-size: 0.8em; color: #666; padding-left:500px">Author: {{ note.user }}</div>
    </div>
    <div class="back-to-list" style="margin-top: 20px;">
      <a href="{% url 'note_list' %}" style="text-decoration: none; color: #007bff; margin-right: 20px;">Back to Notes</a>
      <a href="{% url 'edit_note' note.pk %}" style="text-decoration: none; color: #007bff; margin-right: 20px;">Edit Note</a>
      <form method="post" action="{% url 'delete_note' note.pk %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
    </div>
  </div>
{% endblock %}
  