{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="padding: 20px; max-width: 800px; margin: 0 auto;">
    <h2>Your Notes</h2>
    <div class="notes-grid" style="display: flex; flex-wrap: wrap; gap: 20px; max-height: 500px; overflow-y: auto;">
        {% for note in notes %}
        <a href="{% url 'note_detail' note.pk %}" class="note-item" style="width: 200px; height: 200px; border: 1px solid #ddd; border-radius: 8px; padding: 10px; text-decoration: none; color: inherit; display: flex; flex-direction: column; justify-content: space-between;">
            <div class="note-title" style="font-weight: bold; font-size: 1.2em;">{{ note.title }}</div>
            <div class="note-content" style="margin-top: 5px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;">{{ note.content|safe }}</div>
            <div class="note-date" style="font-size: 0.8em; color: #666;">Created on: {{ note.created_at|date:"F j, Y, g:i a" }}</div>
            <div class="note-user" style="font-size: 0.8em; color: #666;">Author: {{ note.user }}</div>
          </a>
        {% endfor %}
    </div>
    <div class="add-note" style="margin-top: 20px;">
        <a href="{% url 'add_note' %}" style="text-decoration: none; color: #007bff;">Add New Note</a>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchModal" style="background: #212120; color: #ffffff;">
    Search
</button>



<style>
/* WebKit browsers (Chrome, Safari, Edge) */
.notes-grid::-webkit-scrollbar {
    width: 12px;
}

.notes-grid::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.notes-grid::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.notes-grid::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Firefox */
.notes-grid {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* Optionally, apply styles to the scrollbar within the modal */
.modal-body::-webkit-scrollbar {
    width: 12px;
}

.modal-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox */
.modal-body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
</style>
{% endblock %}

{% block js_files %}

{% endblock %}
