{% extends "addnotes.html" %}
{% block form %}
<div class="form-container">
    <form method="POST" action="/edit/{{selected_note['note_idf']}}">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.content.label }}
            {{ form.content(class="form-control", id="editor") }}
        </div>
        <div class="button-container">
             <a href="{{url_for('userpage')}}"><button type="submit">Submit</button></a>
        </div>

    </form>
</div>
{% endblock  %}