{% extends "addnotes.html" %}
{% block form %}
<div class="form-container">
    <form method="POST" action="/summarize/{{selected_note['note_idf']}}">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.content.label }}
            {{ form.content(class="form-control", id="editor") }}
        </div>
        <div class="button-container">
            <button type="submit" name="action" value="summarize">Summarize</button>
        </div>
    </form>
    <p>{{ summarize_description }}</p>
    <form method="POST" action="/userpage">
        <div class="button-container">
            <button type="submit" name="action" value="cancel">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}
