{% extends "authentication/base.html" %}
{% load static %}
{% block title %}
    Register
{% endblock title %}

{% block content %}
<div class="container d-flex flex-column h-100">
    <div class="row align-items-center justify-content-start">
      <div class="col-2 mt-4">
        <img src="{% static "images/logo-dark.png" %}" alt="Logo" class="img-fluid mt-4" style="max-width: 48px;">
      </div>
    </div>
    <div class="row align-items-center justify-content-center mt-5">
     <div class="row justify-content-center mt-5">
        <div class="col-md-4">
        <center class="mb-3">
        <h4>Create a profile</h4>
        <h5 class="text-secondary">This is how you'll appear in Notion</h5>
        <img src="{% static "images/default_user.png" %}" class="rounded-circle mt-2" alt="Profile Icon">
        </center>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-md-4">
        <form method="POST" action="{% url 'user:register' %}" id="login-form">
            {% csrf_token %}
            {{ form.email.as_hidden }}
            <div class="mb-3">
                {{ form.profile_image }}
            </div>
            <div class="mb-3">
              &nbsp;<label for="email" class="form-label text-secondary">Preferred name</label>
              {{ form.name }}
            </div>
            <div class="mb-3">
              &nbsp;<label for="email" class="form-label text-secondary">Set a password</label>
              {{ form.password1 }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Continue</button>
        </form>
        <div class="mt-3">
            {{ form.field.errors }}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
