{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}
  {% include "includes/_nav.html" %}

  <section id="home" class="home py-5">
    <div class="container text-center">
      <h1 class="display-4">Welcome to  <b>NotionFM</b></h1>
      <p class="lead">Organize your notes, tasks, and reminders all in one place wwith <b>NotionFM.</b></p>
      <a href="#templates" class="btn btn-primary btn-lg mt-3">Explore Templates</a>
    </div>
  </section>

  <section id="templates" class="templates py-5">
    <div class="container">
      <h2 class="text-center mb-4">Templates</h2>
      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 h-100">
            <img src="{% static 'img/birthday_template.png' %}" class="card-img-top" alt="Birthday Reminder">
            <div class="card-body">
              <h5 class="card-title">Birthday Reminder</h5>
              <p class="card-text">Never forget a birthday again with our Birthday Reminder template.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 h-100">
            <img src="{% static 'img/event_template.png' %}" class="card-img-top" alt="ToDo List">
            <div class="card-body">
              <h5 class="card-title">Event Tracker</h5>
              <p class="card-text">Manage your events and stay organized with our Event Tracker template.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 h-100">
            <img src="{% static 'img/movie_template.png' %}" class="card-img-top" alt="Movie List">
            <div class="card-body">
              <h5 class="card-title">Movie List</h5>
              <p class="card-text">Keep track of all the movies you want to watch or have watched.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="footer" class="footer mt-auto py-3">
    <div class="container text-center">
      <p class="mb-0" style="font-size: 14px; color: #666;">This project was developed within the scope of the Python Programming course project by</p>
      <h6 class="mb-0" style="font-size: 18px; color: #333; font-weight: bold;">Furkan Yamak & Mine Altuğ</h6>
    </div>
  </section>
{% endblock %}
