@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../fonts/IBMPlexMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: url('../fonts/IBMPlexSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: url('../fonts/IBMPlexSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #f7f7f5; 
    overflow: hidden; 
}

.sidebar .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.workspace-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #f7f7f5;
    color: #000;
    font-weight: bold;
    font-size: 15px; 
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: -10px;
}

.workspace-icon {
    font-size: 16px;
    color: #9d9d9a; 
    margin-right: 10px; 
    margin-bottom: 5px;
}

.workspace-icon-small {
    font-size: 18px;
    color: #9d9d9a; 
    margin-right: 20px; 
}

.workspace-header strong {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; 
}

.workspace-header .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 240px;
    margin: 0;
    font-size: 16px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.175);
}

.workspace-header:hover .dropdown-menu,
.workspace-header .dropdown-menu:hover {
    display: block;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    position: relative; 
}

.nav-link {
    display: flex;
    align-items: center;
    padding-left: 14px; 
    font-weight: bold; 
    font-family: 'IBM Plex Sans', sans-serif;
    color: #9d9d9a; 
}

.nav-item {
    position: relative;
}

.nav-item .nav-link {
    flex-grow: 1;
}

.nav-item .ellipsis-icon {
    margin-left: auto; 
    cursor: pointer;
}

.nav-item .nav-link.active .ellipsis-icon,
.nav-item .nav-link:hover .ellipsis-icon {
    display: block; 
}


.nav-link.active {
    color: #212529; 
}

.nav-link:hover {
    color: #212529; 
}

.nav-link i {
    margin-right: 8px; 
    font-size: 18px; 
    color: #9d9d9a; 
}

.nav-link .page-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; 
    margin-right: 10px; 
}

.nav-link .ellipsis-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: #212529;
    font-size: 14px;
    margin-top: 8px; 
    display: none; 
}

.nav-link.active .ellipsis-icon,
.nav-link:hover .ellipsis-icon {
    display: block; 
}

.workspace-info {
    display: flex;
    align-items: center;
}

.email-text {
    font-size: 11px; 
    color: #aeadaa;
    display: inline-block;
}

#add-workspace-btn {
    font-size: 14px;
    line-height: 1;
    padding: 2px 6px;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #212529;
    font-weight: normal; 
    font-family: 'IBM Plex Sans', sans-serif; 
}

.dropdown-item:hover {
    background-color: #ebeae9; 
}

.dropdown-item:active {
    background-color: #dcdbd9;
    color: #212529;
}

.dropdown-item .workspace-info {
    display: flex;
    align-items: center;
}

.dropdown-item small.text-muted {
    font-size: 12px;
}

.dropdown-item i.fas.fa-check {
    color: #000; 
    margin-left: auto;
}

.private-section {
    margin-top: 20px;
}

.private-toggle {
    text-align: left;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    color: #91918e;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none; 
    margin-left: 20px; 
    font-family: 'IBM Plex Sans', sans-serif; 
    margin-left: 10px;
}

.private-toggle:hover {
    text-decoration: none; 
}

.private-pages {
    display: block; 
    margin-top: 10px;
    padding-left: 20px; 
    color: #9d9d9a;
    margin-left: -25px;
    margin-right: 15px;
}

.private-pages .nav-link {
    display: flex;
    align-items: center;
}

.private-pages .page-icon {
    margin-right: 10px; 
    font-size: 16px; 
    color: #9d9d9a; 
}

.page-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    min-width: 240px;
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.175);
}

.page-dropdown-menu a {
    padding: 10px 20px;
}

.page-dropdown-menu small {
    font-size: 12px;
    color: #9d9d9a;
}

#page-title-input {
    border: none;
    box-shadow: none;
    font-size: 16px; 
    font-weight: bold;
    margin-bottom: 10px;
}

#page-title-input:focus {
    outline: none;
    box-shadow: none;
}

#page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-title-container {
    flex: 1;
    margin-left: 15px; 
}