<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Note</title>
   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
</head>
<body>
<div class= "sidebar">
    <div class="user_name">
<span class="baslik">Mehmet Alpergün</span>
</div>
<div class="nav_f">
    <ul>
        <li>
            <a href="#">
               
                 <i class="fa-solid fa-magnifying-glass"></i>
                <span class="normal">Search</span>
            </a>
        </li>
        <li style="list-style-type: none;">
            <a href="#">
               
                <i class="fa-regular fa-inbox"></i>
                <span class="normal">Inbox</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-light fa-gear"></i>
               
                <span class="normal">Settings & members</span>
            </a>
        </li>
        <li>
            <a href="#">
               
                <i class="fa-solid fa-circle-plus"></i>
                <span class="normal">New page</span>
            </a>
        </li>
    </ul>
</div>
<div class="nav_s">
    <ul>
        <li>
            <a href="#">
                <i class="fa-solid fa-chevron-right"></i>
                <i class="fa-light fa-file-lines"></i>
                <span class="normal">Getting Started</span>
            </a>
        </li>
        <li class="sedef">
            <a href="#">
                <i class="fa-solid fa-chevron-right"></i>
                <i class="fa-solid fa-thumbtack"></i>
                <span class="normal">Quick Note</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-chevron-right"></i>
 
                <i class="fa-solid fa-user"></i>
                <span class="normal">Personal Home</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-chevron-right"></i>
 
                <i class="fa-solid fa-scissors"></i>
                <span class="normal">Task List</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-chevron-right"></i>
                <i class="fa-solid fa-thumbtack"></i>
 
               
                <span class="normal">Journal</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-chevron-right"></i>
                <i class="fa-solid fa-book"></i>
 
                <span class="normal">Reading List</span>
            </a>
        </li>
        <li>
            <a href="#">
               
 
                <i class="fa-solid fa-plus"></i>
                <span class="normal">Add a page</span>
            </a>
        </li>
    </ul>
 
</div>
<div class="nav_t">
    <ul>
        <li>
            <a href="#">
                <i class="fa-regular fa-calendar"></i>
                <span class="normal">Calender</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-regular fa-user-plus"></i>
                <span class="normal">Create a teamspace</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-light fa-shapes"></i>
                <span class="normal">Templates</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-download"></i>
                <span class="normal">Import</span>
            </a>
        </li>
        <li>
            <a href="#">
               
                <i class="fa-solid fa-trash-can"></i>
                <span class="normal">Trash</span>
            </a>
        </li>
    </ul>
</div>
 
</div>
<div class = "top">
    <div class="upline">
            <i class="fa-solid fa-thumbtack"></i>
           <span class="quick">Quick Note</span>
    </div>
    <div class="right_upline"><span>Edited Just Now</span></div>
    <div class="share">Share</div>
    <div class="comment"><i class="fa-light fa-message-lines fa-lg"></i></div>
    <div class="clock"><i class="fa-light fa-clock fa-lg"></i></div>
    <div class="star"><i class="fa-regular fa-star fa-lg"></i></div>
    <div class="ellipsis"><i class="fa-regular fa-ellipsis fa-lg"></i></div>
   
</div>
<div class="middle">
<div class="iconic"><i class="fa-solid fa-thumbtack fa-4x"></i></div>
<span class="neden">Quick Note</span>
<div class="tip"><span class="tip_F">Notion Tip: </span><span>Use this template to write quick notes you can reference later and quickly create a rich document. You can embed links, images, to-do’s, and more. Learn more about the different types of content blocks here.</span></div>
<div class="underscore">Jot downme some text</div>
<div class="container">
    <form action="/yapilacaklar" method="post" class="container_form">
    <div class="icon"><button type="submit" ><i class="fa-regular fa-plus"></i></button></div>
    <div class="sixdot"><i class="fa-regular fa-grip-dots-vertical"></i></div>
    <div class="row"><input type="text" name="input-box" class="input-box" id="input-box" placeholder="Write something, or 'press' for AI, '/' for commands..."></div>
 
    </form>
 
       
   
</div>
     
    <div class="todo-container">
    {% for data in items %}
           
            <div class="todo">
                
                <form action="/update/{{data.id}}" method="post">
                    <!--<p>{{data.paragraph}}</p>-->
                    
                    <textarea id={{data.id}} name="box" rows="4" cols="50">{{ data.paragraph }}</textarea>
                    <button type="submit">&</button>
                </form>

                 <!--<input type="text" name="box" class="box" id={{data.id}} value={{data.paragraph}}>-->
               <form action="/delete/{{data.id}}" method="post">
                <button type="submit">-</button>
            </form>
            </div>
           
        {% endfor %}
    </div>
 

    
 
 
</div>
<!--

 <li>
           
            <button class="button" id="search" onclick="sendButtonId(this.id)">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span class="normal">Search</span>
            </button>
 
        </li>

-->
 
</body>
</html>

