.list-group-item {
    font-size: 11px;
    background: #212120; /* Adjust the font size as needed */
    font-weight: bold;
}

/* Custom CSS for expanding sidebar */
.sidebar {
    height: 100vh; /* Set sidebar height to 100% of the viewport height */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    transition: width 0.3s;
    background: #212120;
    color: #979796;
   
}


.navbar{
    background: #212120;
    color: #979796;
}

.main{
    background: #181918;
    width: 87.4%;
    color: #313131;
    flex: 1;
}

